*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}

.center{
    width: 1280px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 90px;
    background-color: #10403b;
}

.header img{
    padding: 0;
    margin: 0 auto;
    width: 200px;
}