*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    height: 200px;
    padding: 20px 0;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2;
}
.logo{
    width: 50%;
}

.link{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.link a{
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;

}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extra{
    position: absolute;
    bottom: -550px;
    right: -600px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #017143;
}

.social-media{
    position: absolute;
    right: 500px;
    top: 200px;
}

.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p{
    width: 700px;
    margin: 20px 0;
    color: black;
    font-size: 14px
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.rodape{
    display: flex;
    flex-direction: row;
    width: 20px;
    margin: 0 auto;
}

.rodape img{
    width: 70px;
    margin-right: auto;
    margin-left: auto;
}