*{
    margin: 0;
    padding: 0;
}
.parents{
    width: 50%;
    height: 500px;
    background-color: aqua;
}
.box{
    width: 50%;
    margin-left: 50%;
    padding-top: 25%;
    background-color: gray;
    display: inline-block;
}

/* Valores em porcentagem sempre vai ter como base o tamanho do elemento pai */