*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.artigo{
    width: 4%;
    /* height: auto; Para texto sempre tem que colocar auto, pois sempre vai passa do que foi inserido como altura maxima */
    background-color: black;
    text-align: center;
    font-family: tahoma;
}

.artigo h1{
    color: rgb(66, 149, 244);
    font-size: 23px;
    font-style: normal; /* Estilo da fonte*/
    font-weight: normal; /* para deixar em negrito */
    /*font-variant: small-caps;*/
}

.artigo p{
    font-size: 17px;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    color: #b4b4b4;
    line-height: 40px;/* Para quebra de linha*/
    margin-top: 12px;
}